@font-face {
  font-family: "AvenirRegular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf"), url("../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirBold";
  src: url("../assets/fonts/AvenirNextLTPro-Demo.otf"), url("../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "AvenirDemi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi"), url("../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
/*.site-title {

    @media screen and (min-width: $bp-mobile-min) and (max-width: $bp-mobile-max) {

    }


    @media screen and (min-width: $bp-tablet-min) and (max-width: $bp-tablet-max) {

    }

    @media screen and (min-width: $bp-desktop-min) and (max-width: $bp-desktop-max) {

    }

}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem 0 1rem;
}
header .site-logo__container {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}
header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 0.5rem;
}
header .header-container .site-logo {
  height: 1.25rem;
  width: 7.5rem;
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  header .header-container {
    flex-direction: row;
    align-items: center;
  }
  header .site-logo__container {
    justify-content: flex-start;
    margin: 0 2rem 0 1rem;
  }
  header .navbar {
    justify-content: flex-start;
    gap: 3rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0.5rem 1rem;
}
.navbar__tab {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  border-bottom: 0.3125rem solid transparent;
}
.navbar__tab a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: AvenirRegular;
  font-weight: 600;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__tab:hover {
  border-bottom: 2px solid white;
}
.navbar__link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: AvenirDemi;
  font-weight: 600;
}

.hero-image {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}
.hero-image__title {
  color: #FFFFFF;
  font-family: AvenirDemi;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  letter-spacing: 0.0625rem;
}
@media (min-width: 768px) {
  .hero-image__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.about__title-container {
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .about__title-container {
    margin: 1.5rem 0 1rem 1.5rem;
  }
}

.about__title {
  font-family: AvenirDemi;
  font-weight: 600;
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 2rem;
  }
}

.about__image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .about__image-container {
    padding: 1rem 2rem 2rem 2rem;
  }
}

.about-image {
  max-width: 100%;
}
@media (min-width: 768px) {
  .about-image {
    max-width: 80%;
  }
}

.about__quote-container {
  padding: 0 1rem 1rem 1rem;
}

.about__quote-container p {
  font-family: AvenirDemi;
  font-weight: 600;
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 0.5rem;
  display: flex;
}
@media (min-width: 768px) {
  .about__quote-container p {
    width: 78%;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem 0 2rem 0;
  }
}

@media (min-width: 768px) {
  .about__quote-container .quote-text {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 1rem;
  }
}

.article__title-container {
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .article__title-container {
    padding-left: 3rem;
  }
}

.article-title {
  font-family: AvenirDemi;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .article-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 1.5rem;
  }
}

.paragraph-container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .paragraph-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .paragraph-container .paragraph1, .paragraph-container .paragraph2 {
    width: 48%;
    margin: 0 2rem;
    padding-bottom: 2rem;
  }
}

.paragraph1, .paragraph2 {
  margin-bottom: 1rem;
  font-family: AvenirRegular;
  font-weight: 400;
}
@media (min-width: 768px) {
  .paragraph1, .paragraph2 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.gallery {
  background: #FAFAFA;
}

.gallery__title-container {
  padding: 1rem 1rem 0 1rem;
}
@media (min-width: 768px) {
  .gallery__title-container {
    padding: 2rem 2rem 2rem 2rem;
  }
}

.gallery__title {
  font-family: AvenirDemi;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 1rem;
    margin-left: 1rem;
  }
}

.gallery__image-container {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .gallery__image-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2rem 2rem 2rem;
  }
  .gallery__image-container .gallery-img {
    width: calc(33.3% - 1rem);
  }
}

.gallery-img {
  width: 100%;
}

footer {
  background: #323232;
}
footer .footer__title-container {
  padding: 2rem 1rem 1rem 1rem;
}
footer .footer-title {
  color: #FFFFFF;
  font-family: AvenirDemi;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
}
footer .footer-socials__wrapper {
  display: flex;
  padding: 2rem 0;
  width: 40%;
  justify-content: space-between;
}
footer .social-logo {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer__contact-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .contact__mgmt,
footer .contact__booking-LAG,
footer .contact__booking-ARCH {
  color: #FFFFFF;
  font-family: AvenirRegular;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
footer .contact__mgmt h3,
footer .contact__booking-LAG h3,
footer .contact__booking-ARCH h3 {
  margin-bottom: 1rem;
}
footer .contact__mgmt p:last-of-type,
footer .contact__booking-LAG p:last-of-type,
footer .contact__booking-ARCH p:last-of-type {
  margin-top: 0.625rem;
}
footer .copyright-container {
  margin-top: 2rem;
  padding: 0 1rem;
}
footer .copyright-container .copyright-logo {
  margin: 1rem 0;
}
footer .copyright-text {
  color: #FFFFFF;
  font-family: AvenirRegular;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding-bottom: 2rem;
}

/*footer {
    background: $bs-black;
}

.footer__title-container {
    padding: 2rem 1rem 1rem 1rem;
}

.footer-title {
    color: $white;
    font-family: AvenirDemi;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: .0625rem;
}

.footer-socials__wrapper {
    display: flex;
    padding: 2rem 0;
    width: 40%;
    justify-content: space-between;
}

.social-logo {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.footer__contact-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__mgmt {
    color: $white;
    font-family: AvenirRegular;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.125rem;
}

.contact__mgmt h3 {
    margin-bottom: 1rem;
}

.contact__mgmt p:last-of-type {
    margin-top: .625rem;
}

.contact__booking-LAG {
    color: $white;
    font-family: AvenirRegular;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.125rem;
}

.contact__booking-LAG h3 {
    margin-bottom: 1rem;
}

.contact__booking-LAG p:last-of-type {
    margin-top: .625rem;
}

.contact__booking-ARCH {
    color: $white;
    font-family: AvenirRegular;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.125rem;
}

.contact__booking-ARCH h3 {
    margin-bottom: 1rem;
}

.contact__booking-ARCH p:last-of-type {
    margin-top: .625rem;
}

.copyright-container {
    margin-top: 2rem;
    padding: 0 1rem;
}

.copyright-logo {
    margin: 1rem 0;
}

.copyright-text {
    color: $white;
    font-family: AvenirRegular;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.125rem;
    padding-bottom: 2rem;
}*//*# sourceMappingURL=bio.css.map */