@font-face {
  font-family: "AvenirRegular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf"), url("../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirBold";
  src: url("../assets/fonts/AvenirNextLTPro-Demo.otf"), url("../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "AvenirDemi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi"), url("../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem 0 1rem;
}
header .site-logo__container {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}
header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-bottom: 0.5rem;
}
header .header-container .site-logo {
  height: 1.25rem;
  width: 7.5rem;
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  header .header-container {
    flex-direction: row;
    align-items: center;
  }
  header .site-logo__container {
    justify-content: flex-start;
    margin: 0 2rem 0 1rem;
  }
  header .navbar {
    justify-content: flex-start;
    gap: 3rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0.5rem 1rem;
}
.navbar__tab {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  border-bottom: 0.3125rem solid transparent;
}
.navbar__tab a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: AvenirRegular;
  font-weight: 600;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__tab:hover {
  border-bottom: 2px solid white;
}
.navbar__link {
  color: #FFFFFF;
  text-decoration: none;
  font-family: AvenirDemi;
  font-weight: 600;
}

.hero-image {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1rem;
}
.hero-image__title {
  color: #FFFFFF;
  font-family: AvenirDemi;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  letter-spacing: 0.0625rem;
}
@media (min-width: 768px) {
  .hero-image__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.about__title-container {
  padding: 1.5rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .about__title-container {
    margin: 1.5rem 0 1rem 1.5rem;
  }
}

.about__title {
  font-family: AvenirDemi;
  font-weight: 600;
  color: #323232;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 2rem;
  }
}

.about__image-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .about__image-container {
    padding: 1rem 2rem 2rem 2rem;
  }
}

.about-image {
  max-width: 100%;
}
@media (min-width: 768px) {
  .about-image {
    max-width: 80%;
  }
}

.about__quote-container {
  padding: 0 1rem 1rem 1rem;
}

.about__quote-container p {
  font-family: AvenirDemi;
  font-weight: 600;
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding-bottom: 0.5rem;
  display: flex;
}
@media (min-width: 768px) {
  .about__quote-container p {
    width: 78%;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem 0 2rem 0;
  }
}

@media (min-width: 768px) {
  .about__quote-container .quote-text {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 1rem;
  }
}

.article__title-container {
  padding: 0 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  .article__title-container {
    padding-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .article__title-container {
    margin: 0 7rem;
  }
}

.article-title {
  font-family: AvenirDemi;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .article-title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 1.5rem;
  }
}

.paragraph-container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .paragraph-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .paragraph-container .paragraph1, .paragraph-container .paragraph2 {
    width: 48%;
    margin: 0 2rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .paragraph-container {
    justify-content: center;
  }
  .paragraph-container .paragraph1 {
    padding-left: 3rem;
    width: 40%;
  }
  .paragraph-container .paragraph2 {
    padding-right: 3rem;
    width: 40%;
  }
}

.paragraph1, .paragraph2 {
  margin-bottom: 1rem;
  font-family: AvenirRegular;
  font-weight: 400;
}
@media (min-width: 768px) {
  .paragraph1, .paragraph2 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.gallery {
  background: #FAFAFA;
}

.gallery__title-container {
  padding: 1rem 1rem 0 1rem;
}
@media (min-width: 768px) {
  .gallery__title-container {
    padding: 2rem 2rem 2rem 2rem;
  }
}

.gallery__title {
  font-family: AvenirDemi;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 1rem;
    margin-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .gallery__title {
    margin-left: 3rem;
  }
}

.gallery__image-container {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .gallery__image-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2rem 2rem 2rem;
  }
  .gallery__image-container .gallery-img {
    width: calc(33.3% - 1rem);
  }
}
@media (min-width: 1280px) {
  .gallery__image-container {
    margin: 0 3.9375rem;
  }
}

.gallery-img {
  width: 100%;
}

footer {
  background: #323232;
}
footer .footer__title-container {
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
footer .footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
}
@media (min-width: 768px) {
  footer .footer__wrapper {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 1rem 1rem 1rem;
  }
}
@media (min-width: 1280px) {
  footer .footer__wrapper {
    padding-left: 4rem;
  }
}
footer .footer-title {
  color: #FFFFFF;
  font-family: AvenirDemi;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
}
@media (min-width: 768px) {
  footer .footer-title {
    margin-right: 3rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
footer .footer-socials__wrapper {
  display: flex;
  padding: 2rem 0;
  justify-content: flex-start;
  gap: 2rem;
}
@media (min-width: 768px) {
  footer .footer-socials__wrapper {
    justify-content: flex-start;
    width: 60%;
    padding-right: 1rem;
  }
}
footer .social-logo {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer__contact-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 1rem;
}
@media (min-width: 768px) {
  footer .footer__contact-container {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
  }
}
@media (min-width: 1280px) {
  footer .footer__contact-container {
    justify-content: center;
    width: 60%;
    gap: 4rem;
  }
}
footer .contact__mgmt,
footer .contact__booking-LAG,
footer .contact__booking-ARCH {
  color: #FFFFFF;
  font-family: AvenirRegular;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
footer .contact__mgmt h3,
footer .contact__booking-LAG h3,
footer .contact__booking-ARCH h3 {
  margin-bottom: 1rem;
}
footer .contact__mgmt p:last-of-type,
footer .contact__booking-LAG p:last-of-type,
footer .contact__booking-ARCH p:last-of-type {
  margin-top: 0.625rem;
}
footer .copyright-container {
  margin-top: 2rem;
  padding-left: 2rem;
}
footer .copyright-container .copyright-logo {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  footer .copyright-container .copyright-logo {
    display: none;
  }
}
footer .copyright-text {
  color: #FFFFFF;
  font-family: AvenirRegular;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  footer .copyright-text {
    padding-left: 1rem;
  }
}
@media (min-width: 1280px) {
  footer .copyright-text {
    padding-left: 4rem;
  }
}

.td-copyright {
  display: none;
}
@media (min-width: 768px) {
  .td-copyright {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
@media (min-width: 1280px) {
  .td-copyright {
    padding-left: 4rem;
  }
}

.comments__title {
  font-family: AvenirDemi;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
}
@media (min-width: 768px) {
  .comments__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 1rem;
    margin-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .comments__title {
    margin-left: 3rem;
  }
}

.comments__title-container {
  padding: 1rem 1rem 2rem 1rem;
}
@media (min-width: 768px) {
  .comments__title-container {
    padding: 2rem 2rem 2rem 2rem;
  }
}

.comments__form-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.comments__form-container form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.comments__form-container label {
  font-family: AvenirDemi;
  font-weight: 600;
  font-size: 0.8125rem;
  color: #AFAFAF;
  margin-bottom: 0.5rem;
}

.comments__form-container button {
  margin-top: 2rem;
}

.comments__form-container input {
  height: 2.5rem;
  font-family: AvenirRegular;
  background-color: #FAFAFA;
  padding-left: 0.5rem;
  color: #323232;
  margin-bottom: 1.5rem;
  border: 1px solid #E1E1E1;
  border-radius: 0.25rem;
}

.comments__form-container #commentInput {
  height: 7rem;
  font-family: AvenirRegular;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  background-color: #FAFAFA;
  color: #323232;
  border: 1px solid #E1E1E1;
  border-radius: 0.25rem;
}

button {
  background-color: #323232;
  color: #FFFFFF;
  width: 100%;
  padding: 0.75rem 0;
  border-radius: 0.3125rem;
  margin-left: auto;
  font-family: AvenirDemi;
  font-weight: 600;
  font-size: 1rem;
}

.comments__form-wrapper {
  display: flex;
  width: 100%;
  align-items: start;
}

.comments__form-picture {
  margin-right: 1rem;
  width: 10%;
  align-items: flex-start;
  margin-left: 1rem;
}

.comments__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1.25rem;
  margin-left: 1rem;
}

.comments__form-container {
  width: 80%;
  justify-content: flex-end;
  padding-left: 0;
  margin-left: -1.5rem;
}

#comments__form {
  width: 90%;
}

.comments__container {
  display: flex;
  flex-direction: column;
}

.comments__container div {
  margin-bottom: 1rem;
  padding: 0 0.625rem;
}

.comments__container span {
  font-weight: 600;
  font-family: AvenirDemi;
  color: #323232;
}

.comments__container p {
  font-family: AvenirRegular;
  font-weight: 400;
}

.pic-placeholder {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #E1E1E1;
  display: flex;
  margin: 0 1rem;
  align-self: start;
  justify-content: center;
}

.individual-comment {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #E1E1E1;
  align-items: flex-start;
}

.text-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-bottom: 0;
  width: 80%;
}/*# sourceMappingURL=bio.css.map */